@use "../../reset.scss";

.main-info-container {
    .suggestion {
        align-items: center;
        display: flex;
        font-weight: 700;
        justify-content: space-between;

        p {
            font-size: 14px;
            opacity: 0.8;
        }

        a {
            font-size: 12px;
        }
    }

    main {
        a{
            color: #0095F6;
        }
        .main-container-suggestion{
            align-items: center;
            display: flex;
            justify-content: space-between;
            margin-bottom: 20px;
    
            .suggestion-img {
                @include reset.width-height(32px, 32px);
    
                img {
                    @include reset.width-height(100%, 100%);
                    border-radius: 100px;
                    object-fit: cover;
                }
            }
    
            .suggestion-info {
                margin-right: 120px;
                p {
                    margin: 0;
    
                    &:nth-child(1) {
                        font-size: 14px;
                        font-weight: 700;
                    }
    
                    &:nth-child(2) {
                        color: rgb(142, 142, 142);
                        font-size: 12px;
                        font-weight: 400;
                        white-space: nowrap;
                    }
                }
            }

        }
    }

    footer{
        margin-top: 30px;
        nav{
            max-width: 100%;
            div{
                display: flex;
                list-style-type: none;
                padding: 0;

                .a9{
                    &::after{
                        content: "";
                    }
                }
    
                a{
                    font-size: 14px;
                    font-weight: 400;
    
                    span{
                        color: rgb(199, 199, 199);
                        &:hover{
                            text-decoration: underline;
                        }
                    }

                    &:after{
                        content: '\00B7';
                        color: rgb(142, 142, 142);
                        margin: 0 5px;
                    }
                }
            }
        }
    }
}
