@use "../../reset.scss";

.container-infos{
    display: none;
}

@media screen and (max-width: 1000px) {
    .container-infos{
        display: none !important;
    }
}

@media screen and (min-width: reset.$sizeNotebook) {
    .container-infos {
        display: block;
        height: 120px;
        margin: 1rem 2rem;

        header {
            align-items: center;
            background-color: transparent;
            display: flex;
            justify-content: space-between;

            .user {
                @include reset.width-height(60px, 60px);
                align-items: center;
                display: flex;
                position: relative;

                .outline {
                    @include reset.width-height(65px, 65px);
                    background-color: #ccc;
                    border: 1px solid black;
                    border-radius: 100px;
                    position: absolute;
                    z-index: -1;
                }

                svg {
                    @include reset.width-height(100%, 100%);
                    border-radius: 100px;
                    margin: 10px 0 0 8px;
                    z-index: 1;
                }
            }

            .header-info {
                display: block;
                padding-right: 80px;

                p {
                    margin: 0;

                    &:nth-child(2) {
                        opacity: 0.7;
                    }
                }
            }

            a {
                text-decoration: none;
            }
        }
    }
}
