@use "../../../components/reset.scss";

@media screen and (max-width: reset.$sizeMobile) {
    .main-direct{
        background-color: white;
    }
}

.main-direct {
    overflow-y: hidden;
    height: 89.7vh;

    .desktop{
        display: none
    }

    .search-main {
        align-items: center;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        padding: 10px;

        .search {
            align-items: center;
            background-color: reset.$backgroundColorPrinc;
            border-radius: 10px;
            height: 36px;
            display: flex;
            width: 90%;

            svg{
                padding: 0 10px;
            }

            input {
                background-color: reset.$backgroundColorPrinc;
                border: none;
                font-size: 1rem;
                padding: 0px 16px;
                outline: none;
                width: 100%;
            }
        }
    }

    .stories-feed.direct{
        overflow-x: auto;
        .stories-container {
            display: grid;
            padding: 20px 26px;
            gap: 5px;
        
            .stories {
                cursor: pointer;
                display: flex;
                gap: 20px;
                max-width: none;
                position: relative;
                width: 100%;


                .online{
                    @include reset.width-height(11px, 11px);
                    background-color: #78DE45;
                    border: 4px solid white;
                    border-radius: 100px;
                    left: 12%;
                    position: absolute;
                    top: 68%;
                    z-index: 100;
                }
        
                .stories-img {
                    @include reset.width-height(60px, 60px);
                    align-items: center;
                    display: flex;
                    justify-content: center;
                    position: relative;
        
                    img {
                        @include reset.width-height(100%, 100%);
                        border-radius: 100px;
                        object-fit: cover;
                        z-index: 2;
                    }
                }
        
                .name-storie {
                    display: grid;
                    font-size: 0.8rem;
                    gap: 6px;

                    span{
                        opacity: 0.6;
                    }
                }
        
            }
        }
    }
}

@media screen and (min-width: reset.$sizeNotebook) {
    
    .main-direct{
        align-items: center;
        display: flex;
        height: calc(100vh - 5.3rem);
        justify-content: center;
        margin-top: 15px;
        .desktop{
            display: block;
        }

        .mobile {
            display: none !important;
        }

        .container-message{
            align-items: center;
            background-color: white;
            border: 2px solid #DBDBDB;
            display: block;
            height: 96%;
            justify-content: center;
            width: 300px;

            .account-message{
                align-items: center;
                border-bottom: 1px solid #DBDBDB;
                display: flex;
                height: 52px;
                justify-content: space-around;

                .h2{
                    font-size: 1.2rem;
                    font-weight: 500;
                }

                .name-account{
                    align-items: center;
                    display: flex;
                    gap: 6px;
                    justify-content: center;

                }
                
                svg{
                    cursor: pointer;
                }
            }

            .stories-feed.direct{
                @include reset.width-height(100%, 100%);
                padding-top: 15px;
                width: 100%;
                overflow-x: hidden;
    
                .stories-container{
                    display: grid;
                    gap: 10px;
                    padding: 0;
                    
                    .stories{
                        cursor: pointer;
                        display: flex;
                        gap: 20px;
                        max-width: none;
                        padding-left: 20px;
                        width: 100%;
    
                        .online{
                            left: 19%;
                            top: 55%;
                        }
    
                        .stories-img {
                            @include reset.width-height(52px, 52px);
                            
                            img{
                                max-width: 62px;
                            }
                        }
                    
                        .name-storie{
                            font-size: 0.8rem;
    
                        }
    
                        &:hover{
                            background-color: rgb(250, 250, 250);
                        }
                    }
                }
            }
        }

        .container-aside{
            align-items: center;
            background-color: white;
            border: 1px solid #DBDBDB;
            display: flex;
            height: 96%;
            justify-content: center;
            width: 595px;

            .aside-infos{
                text-align: center;

                .rounded-aside{
                    align-items: center;
                    border-radius: 100px;
                    border: 1px solid black;
                    display: flex;
                    justify-content: center;
                    height: 110px;
                    margin: 0 auto;
                    width: 110px;
                }

                .h2{
                    font-weight: 400;
                    margin: 14px 0;
                }

                .h2,span{
                    opacity: 0.70;
                }

                .btn{
                    background-color: #0095F6;
                    border: none;
                    border-radius: 5px;
                    color: white;
                    cursor: pointer;
                    display: block;
                    margin: 24px auto;
                    font-size: 1rem;
                    padding: 7px 9px;
                    outline: none;
                }
            }

        }
    }
}
