@use "../../../components/reset.scss";

@media screen and (max-width: reset.$sizeMobile) {
    main{
        background-color: white;
    }
}

main {
    overflow-y: hidden;
    .search-main {
        align-items: center;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        padding: 10px;

        .search {
            align-items: center;
            background-color: reset.$backgroundColorPrinc;
            border-radius: 10px;
            height: 36px;
            display: flex;
            width: 90%;

            svg{
                padding: 0 10px;
            }

            input {
                background-color: reset.$backgroundColorPrinc;
                border: none;
                font-size: 1rem;
                padding: 0px 16px;
                outline: none;
                width: 100%;
            }
        }
    }

    .stories-feed.direct{
        overflow-x: auto;
        .stories-container {
            align-items: center;
            display: flex;
            gap: 30px;
            padding: 20px 18px 8px 18px;
        
            .stories {
                cursor: pointer;
                display: block;
                max-width: 60px;
                position: relative;

                .online{
                    @include reset.width-height(11px, 11px);
                    background-color: #78DE45;
                    border-radius: 100px;
                    left: 72%;
                    position: absolute;
                    top: 50%;
                    z-index: 100;
                }
        
                .stories-img {
                    @include reset.width-height(60px, 60px);
                    align-items: center;
                    display: flex;
                    justify-content: center;
                    position: relative;
        
                    img {
                        @include reset.width-height(100%, 100%);
                        border-radius: 100px;
                        object-fit: cover;
                        z-index: 2;
                    }
                }
        
                .name-storie {
                    align-items: center;
                    display: flex;
                    font-size: 0.7rem;
                    justify-content: center;
                }
        
            }
        }
    }
}

@media screen and (min-width: reset.$sizeNotebook) {
    .mobile {
        display: none !important;
    }

    .container-message{
        align-items: center;
        background-color: white;
        display: flex;
        justify-content: center;
        .stories-feed.direct{
            @include reset.width-height(515px, 332px);
            padding: 24px 24px 24px 24px;
            .stories-container{
                display: block;
                gap: 20px;
                padding: 14px 20px;
                
                .stories{
                    .stories-img {
                        @include reset.width-height(65px, 65px);
                
                        .storie-open{
                            @include reset.width-height(70px, 70px);
                            border: 3px solid transparent;
                        }
                    }
                
                    .name-storie{
                        font-size: 0.8rem;
                    }
                }
            }
        }
    }

}
