@use "../../../components/reset.scss";

@media screen and (max-width: reset.$sizeMobile) {
    main{
        background-color: white;
    }
}

main {
    .search-main {
        align-items: center;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        padding: 10px;

        .search {
            align-items: center;
            background-color: reset.$backgroundColorPrinc;
            border-radius: 10px;
            display: flex;
            width: 90%;

            svg{
                padding: 0 10px;
            }

            input {
                background-color: reset.$backgroundColorPrinc;
                border: none;
                font-size: 1rem;
                padding: 0px 16px;
                outline: none;
                width: 100%;
            }
        }
    }
}

@media screen and (min-width: reset.$sizeNotebook) {
    .mobile {
        display: none !important;
    }
}
