@use '../reset.scss';

@media screen and (min-width: 868px) {
    main{
        .main-container{
            display: flex;
            justify-content: center;
            margin-top: 2rem;

            .stories-feed{
                background-color: white;
                border: 2px solid reset.$backgroundColorPrinc;
                border-radius: 10px;
                max-width: 520px;
            }

            .container-infos{
                height: 80vh;
            }
        }
    }
}