@use '../reset.scss';


@media screen and (min-width: reset.$widthSize) {
    main{

        .main-container{
            align-items: center;
            display: flex;
            justify-content: center;
            margin-top: 2rem;
            width: 80%;

            .storys-feed{
                background-color: white;
                border: 2px solid reset.$backgroundColorPrinc;
                border-radius: 10px;
                max-width: 520px;
            }
        }
    }
}