@use "../../../components/reset.scss";

.centralizer {
    align-items: center;
    display: flex;
}

.header-princ.direct {
    background-color: rgb(233, 233, 233);
    height: auto;
    .container-header {
        a {
            color: black;
            display: flex;
        }

        .mobile {
            width: 100%;
            header {
                @extend .centralizer;
                background-color: reset.$backgroundColorPrinc;
                justify-content: space-between;
            }
        }

        .desktop {
            display: none;
        }
    }
}

@media screen and (min-width: reset.$sizeNotebook) {
    .header-princ.direct {
        background-color: white;
        height: 60px;
        .container-header {
            .img-Instagram.direct {
                @include reset.width-height(34px, 3333.5px);
                margin-left: 11px;

                img{
                    @include reset.width-height(34px, 100px);
                }
            }

            .mobile {
                display: none;
            }

            #search-container{
                height: 34px;

                .search{
                    @include reset.width-height(30px, 210px);

                    svg{
                        width: 22;
                    }

                    input{
                        font-size: 0.9rem
                    }
                }
            }

            .desktop {
                display: flex !important;

                ul {
                    a:nth-child(1) {
                        svg {
                            @include reset.width-height(28px, 28px);
                        }
                    }

                    a{
                        svg{
                            @include reset.width-height(23px, 23px);
                        }
                    }

                    svg{
                        @include reset.width-height(25px, 25px);
                    }
                }
            }

            .nav-direct {
                margin-right: 30px;
            }
        }
    }
}
