@use "../../../components/reset.scss";

.centralizer {
    align-items: center;
    display: flex;
}

.header-princ.direct {
    background-color: rgb(233, 233, 233);
    height: auto;
    .container-header {
        a {
            color: black;
            display: flex;
        }

        .mobile {
            width: 100%;
            header {
                @extend .centralizer;
                background-color: reset.$backgroundColorPrinc;
                justify-content: space-between;
            }
        }

        .desktop {
            display: none;
        }
    }
}

@media screen and (min-width: reset.$sizeNotebook) {
    .header-princ.direct {
        background-color: white;
        height: 68px;
        .container-header {
            .img-Instagram.direct {
                margin-left: 11px;
            }

            .mobile {
                display: none;
            }

            .desktop {
                display: flex !important;

                ul {
                    a:nth-child(1) {
                        svg {
                            @include reset.width-height(28px, 28px);
                        }
                    }
                }
            }

            .nav-direct {
                margin-right: 30px;
            }
        }
    }
}
