@use "/src//components/reset.scss";

.modal {
    @include reset.width-height(100vh, 100vw);
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    bottom: 0px;
    display: flex;
    justify-content: center;
    left: 0px;
    position: fixed;
    top: 0px;
    z-index: 100;

    .modal-container {
        @include reset.width-height(420px, 420px);
        background-color: white;
        border-radius: 10px;

        .header-modal-header {
            height: 50px;
            .container-header {
                @include reset.width-height(40px, 100%);
                justify-content: space-between;
                padding: 0 20px;

                svg {
                    cursor: pointer;
                }

                .h2,
                span {
                    font-size: 0.95rem;
                }
            }

        }
        main{
            .search-new-message{
                align-items: start;
                border-bottom: 1px solid #ededed;
                border-top: 1px solid #ededed;
                display: flex;
                margin: 0;
                padding: 20px;

                .search-people{
                    display: flex;
                    flex-wrap: wrap;
                    overflow-x: hidden;

                    input{
                        margin: 0;
                    }

                    .selected-people{
                        display: contents;
                        overflow-x: hidden;

                        .name-people{
                            margin-right: 7px;
                            margin-bottom: 7px;
                        }
                    }
                }

            }
        }
    }
}
