@use "/src//components/reset.scss";

.modal {
    @include reset.width-height(100vh, 100vw);
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    bottom: 0px;
    display: flex;
    justify-content: center;
    left: 0px;
    position: fixed;
    top: 0px;
    z-index: 100;

    .modal-container {
        @include reset.width-height(75%, 420px);
        background-color: white;
        border-radius: 10px;
        display: flex;
        flex-direction: column;

        .header-modal-header {
            height: 50px;
            .container-header {
                @include reset.width-height(40px, 100%);
                justify-content: space-between;
                padding: 0 20px;

                svg {
                    cursor: pointer;
                }

                .h2,
                span {
                    font-size: 0.95rem;
                }
            }
        }
        main {
            display: flex;
            flex: 1 1 auto;
            flex-direction: column;
            height: 90%;
            overflow: hidden;

            .search-new-message {
                align-items: start;
                border-bottom: 1px solid #ededed;
                border-top: 1px solid #ededed;
                display: flex;
                margin: 0;
                padding: 20px;

                .search-people {
                    display: flex;
                    flex-wrap: wrap;
                    overflow-x: hidden;

                    input {
                        margin: 0;
                    }

                    .selected-people {
                        display: contents;
                        overflow-x: hidden;

                        .name-people {
                            height: 38px;
                            margin-right: 7px;
                            margin-bottom: 7px;
                        }
                    }
                }
            }

            .stories-container {
                gap: 0;
                height: 420px;
                padding: 0px 10px 0px 26px;
                overflow-y: auto;

                .h2 {
                    font-size: 14px;
                }

                .stories {
                    align-items: center;
                    display: flex;
                    .stories-img {
                        @include reset.width-height(52px, 52px);
                    }

                    .name-storie {
                        font-size: 0.88rem;
                    }
                }
            }
        }
    }
}
