@use "../reset.scss";

@mixin grid-colum-row($colum, $row) {
    grid-column: $colum;
    grid-row: $row;
}

.centralizer {
    align-items: center;
    display: flex;
}

.header-princ {
    @include reset.width-height(60px, 100%);
    @extend .centralizer;
    background-color: white;
    border-bottom: 1px solid reset.$backgroundColorPrinc;
    justify-content: center;

    .container-header {
        @extend .centralizer;
        @include reset.width-height(100%, 91%);
        justify-content: space-between;

        .img-Instagram {
            @include reset.width-height(29px, 103px);
            align-items: center;
            display: flex;

            img {
                @include reset.width-height(100%, 100%);
                cursor: pointer;
                object-fit: cover;
            }
        }

        nav {
            ul {
                @extend .centralizer;
                display: grid;
                gap: 0.7rem;

                a {
                    @include grid-colum-row(3, 1);
                }

                svg {
                    @include reset.width-height(24px, 24px);
                    cursor: pointer;

                    &:nth-child(3) {
                        @include grid-colum-row(1, 1);
                    }

                    &:nth-child(5) {
                        @include grid-colum-row(2, 1);
                    }
                }

                a {
                    svg {
                        @include reset.width-height(24px, 24px);
                        color: black;
                    }
                }

                .page-current > path {
                    fill: black;
                }
            }
        }

        .desktop {
            display: none;
        }

        #search-container {
            display: none;
        }
    }
}

@media screen and (min-width: reset.$sizeNotebook) {
    .header-princ {
        height: 68px;
        .container-header {
            max-width: calc(935px + 40px);
            .img-Instagram {
                @include reset.width-height(36px, 3335.5px);
                margin-left: 20px;
                img {
                    @include reset.width-height(36px, 112px);
                    object-fit: cover;
                }

                svg {
                    display: none;
                }
            }

            #search-container {
                align-items: center;
                background-color: reset.$backgroundColorPrinc;
                border-radius: 10px;
                display: flex !important;
                height: 40px;
                padding: 0 16px;

                .search {
                    align-items: center;
                    height: 36px;
                    display: flex;
                    width: 242px;

                    svg {
                        color: #8e8e8e;
                    }

                    input {
                        background-color: reset.$backgroundColorPrinc;
                        border: none;
                        font-size: 1rem;
                        padding: 3px 16px;
                        outline: none;
                        width: 100%;
                    }
                }
            }

            nav {
                margin-right: 20px;
                padding-left: 90.75px;

                ul {
                    @include reset.width-height(24px, 278px);
                    align-items: center;
                    display: flex;
                    grid-template-columns: repeat(6, 28px);
                    gap: 1.5rem;
                    padding: 0;

                    svg {
                        @include reset.width-height(36px, 36px);

                        &:nth-child(1) {
                            @include grid-colum-row(1, 1);
                        }
                        &:nth-child(2) {
                            @include grid-colum-row(2, 1);
                        }
                        &:nth-child(3) {
                            @include grid-colum-row(3, 1);
                        }
                        &:nth-child(5) {
                            @include grid-colum-row(5, 1);
                        }
                        &:nth-child(6) {
                            @include grid-colum-row(6, 1);
                        }
                    }

                    a {
                        svg {
                            @include reset.width-height(25px, 25px);
                        }
                    }
                }
            }

            .desktop {
                display: block !important;
            }
        }
    }
}
