@import '../reset.scss';

@mixin width-height($height, $width) {
    height: $height;
    width: $width;
}

$backgroundColorPrinc: rgb(233, 233, 233);;
$widthSize: 1024px;

.full {
    height: 100%;
    width: 100%;
}

.centralizer {
    align-items: center;
    display: flex;
}

header {
    @include width-height(70px, 100%);

    .container-header {
        @extend .centralizer, .full;
        justify-content: space-between;

        .img-Instagram {
            @include width-height(100%, 100px);
            align-items: center;
            cursor: pointer;
            display: flex;
            padding-left: 1rem;

            img {
                @extend .full;
            }
        }

        nav {
            @extend .centralizer;
            display: grid;
            grid-template-columns: repeat(3, 22px);
            gap: 1rem;
            padding-right: 2.2rem;
        }

        .desktop {
            display: none;
        }
    }

    @media screen and (min-width: $widthSize) {
        .desktop {
            display: block !important;
        }

        .container-header {
            margin: 0 auto;
            width: 72%;
            
            .img-Instagram {
                @include width-height(100%, 120px);
                img {
                    @extend .full;
                    object-fit: cover;
                }

                svg{
                    display: none;
                }
            }

            nav {
                grid-template-columns: repeat(6, 28px);
                gap: 1.5rem;

                svg {
                    @include width-height(30px, 30px);
                    cursor: pointer;

                    &:nth-child(1) > path{
                        fill: black;
                    }
                }
            }
            #search-container{
                align-items: center;
                background-color: $backgroundColorPrinc;
                border-radius: 10px;
                display: flex !important;
                gap: 0.5rem;
                padding: 7px 26px 7px 18px;

                input{
                    background-color: $backgroundColorPrinc;
                    border: none;
                    font-size: 1rem;
                    padding: 4px 5px;
                    outline: none;
                    width: 100%;
                }
            }
        }
    }
}
