$backgroundColorPrinc: rgb(233, 233, 233);
$sizeNotebook: 761px;
$sizeMobile: 760px;

body {
    box-sizing: border-box;
    background-color: whitesmoke;
    margin: 0;
    padding: 0;
}

@mixin width-height($height, $width) {
    height: $height;
    width: $width;
}