@use "/src/components/reset.scss";

body {
    background-color: white;
}

.newMessage-header {
    @include reset.width-height(70px, 100%);
    align-items: center;
    display: flex;
    justify-content: space-between;

    .container-header {
        @extend .newMessage-header;
        width: 90%;

        .title-newMessage {
            @extend .newMessage-header;
            justify-content: normal;
            gap: 20px;
            margin-left: 20px;

            svg {
                color: black;
                cursor: pointer;
                display: flex;
            }
        }

        span {
            color: #076ea4;
            font-size: 1.2rem;
            font-weight: 600;
            opacity: 0.9;
        }
    }
}

main {
    .search-new-message {
        display: grid;
        gap: 10px;
        margin-left: 20px;

        label {
            font-size: 1rem;
            font-weight: 600;
        }

        .search-people {
            align-items: center;
            display: block;
            overflow-x: auto;

            .selected-people {
                display: flex;
                gap: 5px;
                padding: 8px 0px;
                overflow-x: auto;

                .name-people{
                    align-items: center;
                    background: #1a8bd4;
                    background: -webkit-linear-gradient(left, #1a8bd4, #4bc1de);
                    background: -moz-linear-gradient(left, #1a8bd4, #4bc1de);
                    background: linear-gradient(to right, #1a8bd4, #4bc1de);
                    border-radius: 60px;
                    color: white;
                    cursor: pointer;
                    display: flex;
                    font-size: 1rem;
                    gap: 8px;
                    justify-content: center;
                    height: 40px;
                    padding: 0 15px;
                    width: auto;
                }
            }

            input {
                border: none;
                font-size: 1rem;
                margin-top: 1rem;
                outline: none;
                width: 90%;
            }
        }
    }
    .stories-container {
        display: grid;
        padding: 20px 26px;
        gap: 5px;

        .h2{
            font-size: 1.2rem;
        }

        .infos-storie {
            align-items: center;
            display: flex;
            justify-content: space-between;

            .stories {
                cursor: pointer;
                display: flex;
                gap: 20px;
                max-width: none;
                position: relative;
                width: 100%;

                .stories-img {
                    @include reset.width-height(60px, 60px);
                    align-items: center;
                    display: flex;
                    justify-content: center;
                    position: relative;

                    img {
                        @include reset.width-height(100%, 100%);
                        border-radius: 100px;
                        object-fit: cover;
                        z-index: 2;
                    }
                }

                .name-storie {
                    display: grid;
                    font-size: 0.8rem;
                    gap: 6px;

                    span {
                        opacity: 0.6;
                    }
                }
            }

            input {
                -webkit-appearance: none;
                appearance: none;
                background-color: white;
                border: 1px solid #000;
                border-radius: 50%;
                cursor: pointer;
                height: 1.2em;
                outline: none;
                transition: all 0.4s ease;
                vertical-align: middle;
                width: 1.2em;

                &:hover {
                    background-color: rgb(21, 21, 255);
                }
            }
        }
    }
}
