@use "../../reset.scss";

$var: 0;
@for $var from 3 through 1 {
    .infos-imgs-#{$var} {
        z-index: $var;
    }
}

a{text-decoration: none;}

.main-container-feed {
    background-color: white;
    header {
        align-items: center;
        display: flex;
        height: auto;
        justify-content: space-between;
        padding: 11px 0;

        .header-info {
            align-items: center;
            display: flex;
            gap: 0.7rem;
            padding-left: 9px;

            .feed-img {
                @include reset.width-height(35px, 35px);

                img {
                    @include reset.width-height(100%, 100%);
                    border-radius: 100px;
                    object-fit: cover;
                }
            }
        }
        svg {
            margin-right: 18px;
        }
    }

    main {
        .main-feed-img {
            height: 360px;
            max-height: 360px;
            width: 100%;
            img {
                @include reset.width-height(100%, 100%);
                object-fit: cover;
            }
        }

        .main-feed-icons {
            align-items: center;
            display: flex;
            justify-content: space-between;
            padding: 4px 12px 8px 12px;

            .icons-interactions {
                display: flex;
                gap: 0.4rem;
            }

            svg {
                @include reset.width-height(23px, 26px);
                cursor: pointer;
            }
        }
    }

    .feed-likes{
        max-width: 100%;
        padding: 0 12px;

        a {
            color: black;
        }

        .feed-imgs-infos {
            align-items: center;
            display: flex;
            gap: 2.4rem;
    
            .infos-imgs {
                @include reset.width-height(20px, 20px);
                display: flex;
                img {
                    @include reset.width-height(100%, 100%);
                    border-radius: 100px;
                    object-fit: cover;
    
                    &:nth-child(2),
                    &:nth-child(3) {
                        margin-left: -6px;
                    }
                }
            }

            
        }
        .likes-infos{
            p{
                margin: 0;
            }

            .quantComment, .time{
                color: #8e8e8e;
                cursor: pointer;
                margin: 4px 0;
            }

            span{
                align-items: center;
                display: flex;
                gap: 0.6rem;

                a{
                    font-size: 12px;
                }
            }
        }

        p {
            font-size: 12px;
            a{font-weight: 700;}
        }

        .comment{
            display: none;
        }
    }
}

@media screen and (min-width: reset.$sizeNotebook) {
    .main-container-feed {
        border: 1px solid #DBDBDB;
        border-radius: 10px;
        margin: 20px 0;
        max-width: 520px;
        overflow: hidden;

        main {
            .main-feed-img {
                height: 470px;
                max-height: 470px;
            }

            .main-feed-icons {
                padding: 14px 12px 8px 12px;

                svg {
                    @include reset.width-height(27px, 27px);
                    &:hover{
                        color: #8e8e8e;
                    }
                }
            }
        }

        .feed-likes{
            .feed-imgs-infos {
                .infos-imgs {
                    @include reset.width-height(22px, 22px);
                    cursor: pointer;
                }
    
                p {
                    font-size: 16px;
                }
            }

            .likes-infos{

                .quantComment{
                    font-size: 14px;
                }
            }

            .comment{
                @include reset.width-height(40px, 100%);
                border-top: 1px solid #DFDFDF;
                display: block;
                padding: 4px 0;

                .comment-input{
                    @include reset.width-height(100%, 100%);
                    align-items: center;
                    display: flex;

                    svg{
                        @include reset.width-height(28px, 28px);
                        padding: 0 12px 0 0;
                    }

                    input{
                        @include reset.width-height(18px, 380px);
                        border: none;
                        outline: none;
                    }

                    a{
                        @include reset.width-height(18px, 53.5469px);
                        color: #0095F6;
                        font-size: 14px;
                        font-weight: 700;
                    }
                }
            }
        }

    }
}
